body {
  background-color: #4e98af;
}

.img {
  height: 100px;
  width: 100px;
  background-image: url(../img/img.jpg);
}

.img2 {
  height: 100px;
  width: 100px;
  background-image: url(../img/img2.png);
}